.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

/*TODO::うまくコントロールできていない*/
.box .text-in-box, .write {
    background-color: white;
    border-radius: .5em;
    padding: 10px;
    cursor: text;
}

/*TODO::うまくコントロールできていない*/
.box .text-in-box, .read {
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: pointer;
}

/*TODO::うまくコントロールできていない*/
.box :hover {
    background-color: beige;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box.over {
    border: 3px dotted #666;
}